/ServletUsers/build/
/Pr1GestionEscolar/nbproject/private/
/Pr1GestionEscolar/dist/
/Pr1GestionEscolar/build/
/EjerProcedures/nbproject/private/
/EjerProcedures/build/
/EjerProcedures/dist/
/EjemploCategorias/nbproject/private/
/EjerEventos/nbproject/private/
/StrutsExampleBeginner/nbproject/private/
/StrutsExampleBeginner/build/