<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/srs?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">n0m3l0s3</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="com/proyecto/model/Email.hbm.xml"/>
    <mapping resource="com/proyecto/model/Municipio.hbm.xml"/>
    <mapping resource="com/proyecto/model/Accion.hbm.xml"/>
    <mapping resource="com/proyecto/model/Direccion.hbm.xml"/>
    <mapping resource="com/proyecto/model/Usuario.hbm.xml"/>
    <mapping resource="com/proyecto/model/Estado.hbm.xml"/>
    <mapping resource="com/proyecto/model/Asignatura.hbm.xml"/>
    <mapping resource="com/proyecto/model/Archivo.hbm.xml"/>
    <mapping resource="com/proyecto/model/Curso.hbm.xml"/>
    <mapping resource="com/proyecto/model/Historico.hbm.xml"/>
    <mapping resource="com/proyecto/model/AlumnoTienePendiente.hbm.xml"/>
    <mapping resource="com/proyecto/model/Pendiente.hbm.xml"/>
    <mapping resource="com/proyecto/model/Telefono.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
