<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/srs?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping class="entiendades.Pendiente"/>
    <mapping class="entiendades.AlumnoHasPendienteId"/>
    <mapping class="entiendades.Usuario"/>
    <mapping class="entiendades.Estado"/>
    <mapping class="entiendades.Curso"/>
    <mapping class="entiendades.Direccion"/>
    <mapping class="entiendades.Historico"/>
    <mapping class="entiendades.Email"/>
    <mapping class="entiendades.MunicipioId"/>
    <mapping class="entiendades.Accion"/>
    <mapping class="entiendades.Telefono"/>
    <mapping class="entiendades.Municipio"/>
    <mapping class="entiendades.Asignatura"/>
    <mapping class="entiendades.AlumnoHasPendiente"/>
  </session-factory>
</hibernate-configuration>
