<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/srs?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping class="com.proyecto.entidades.AlumnoHasPendiente"/>
    <mapping class="com.proyecto.entidades.Direccion"/>
    <mapping class="com.proyecto.entidades.AlumnoHasPendienteId"/>
    <mapping class="com.proyecto.entidades.Historico"/>
    <mapping class="com.proyecto.entidades.Estado"/>
    <mapping class="com.proyecto.entidades.Municipio"/>
    <mapping class="com.proyecto.entidades.Email"/>
    <mapping class="com.proyecto.entidades.Usuario"/>
    <mapping class="com.proyecto.entidades.Asignatura"/>
    <mapping class="com.proyecto.entidades.Accion"/>
    <mapping class="com.proyecto.entidades.MunicipioId"/>
    <mapping class="com.proyecto.entidades.Telefono"/>
    <mapping class="com.proyecto.entidades.Curso"/>
    <mapping class="com.proyecto.entidades.Pendiente"/>
  </session-factory>
</hibernate-configuration>
