<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/srs?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">n0m3l0s3</property>
    <mapping class="com.proyecto.model.Pendiente"/>
    <mapping class="com.proyecto.model.AlumnoTienePendienteId"/>
    <mapping class="com.proyecto.model.Usuario"/>
    <mapping class="com.proyecto.model.AlumnoTienePendiente"/>
    <mapping class="com.proyecto.model.Email"/>
    <mapping class="com.proyecto.model.Asignatura"/>
    <mapping class="com.proyecto.model.Curso"/>
    <mapping class="com.proyecto.model.Telefono"/>
    <mapping class="com.proyecto.model.Direccion"/>
    <mapping class="com.proyecto.model.Municipio"/>
    <mapping class="com.proyecto.model.Estado"/>
    <mapping class="com.proyecto.model.Accion"/>
    <mapping class="com.proyecto.model.Historico"/>
    <mapping class="com.proyecto.model.Archivo"/>
  </session-factory>
</hibernate-configuration>
